version: '3.7'

services:
    nginx:
        container_name: nginx-prod
        image: nginx
        build:
            context: docker
            dockerfile: nginx/Dockerfile
        ports:
            - "8080:8080"
        volumes:
            - ./:/app

    php-fpm:
        container_name: seln_php
        image: ${REGISTRY:-localhost}/seln-api-php-fpm
        build:
            context: docker
            dockerfile: php-fpm/Dockerfile
        environment:
            DB_HOST: api-postgres
            DB_USER: app
            DB_PASSWORD: secret
            DB_NAME: app
        volumes:
            - ./:/app

        working_dir: /app
    php-cli:
        container_name: seln_php-cli
        image: ${REGISTRY:-localhost}/seln-api-php-cli
        build:
            context: docker
            dockerfile: php-cli/Dockerfile
        environment:
            DB_HOST: api-postgres
            DB_USER: app
            DB_PASSWORD: secret
            DB_NAME: app
        volumes:
            - ./:/app

    api-postgres:
        image: postgres:13.1-alpine
        environment:
            POSTGRES_USER: app
            POSTGRES_PASSWORD: secret
            POSTGRES_DB: app
        volumes:
            - api-postgres:/var/lib/postgresql/data
        ports:
            - "127.0.0.1:54324:5432"

volumes:
    api-postgres: