version: '3.7'
volumes:
  logs:
    driver: local

services:
  nginx:
    container_name: nginx
    build:
      context: docker
      dockerfile: nginx/Dockerfile
    ports:
      - 8080:80
    volumes:
      - ./:/app
      - logs:/var/www/logs
    depends_on:
      - api-postgres
  php-fpm:
    container_name: php-fpm
    build:
      context: docker
      dockerfile: php-fpm/Dockerfile
      cache_from:
        - ${REGISTRY:-localhost}/api-php-fpm
    depends_on:
      - api-postgres
    volumes:
      - ./:/app
    working_dir: /app
  php-cli:
    container_name: php-cli
    build:
      context: docker
      dockerfile: php-cli/Dockerfile
      cache_from:
        - ${REGISTRY:-localhost}/api-php-fpm
    depends_on:
      - api-postgres
    volumes:
      - ./:/app
    working_dir: /app
    tty: true
  api-postgres:
    container_name: api-database
    image: postgres:13.1-alpine
    restart: always
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
